<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82991653011-vqpknh8urcp0sdddeoao09tt23hvecnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82991653011-vqpknh8urcp0sdddeoao09tt23hvecnt</string>
	<key>API_KEY</key>
	<string>AIzaSyAklG7VOj2vulLlBqAt2SoIBYTmvBFjBho</string>
	<key>GCM_SENDER_ID</key>
	<string>82991653011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.budgetDown</string>
	<key>PROJECT_ID</key>
	<string>budgettown-7c1fb</string>
	<key>STORAGE_BUCKET</key>
	<string>budgettown-7c1fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82991653011:ios:e62cad3a41c81a2bcaad66</string>
	<key>DATABASE_URL</key>
	<string>https://budgettown-7c1fb.firebaseio.com</string>
</dict>
</plist>